.itemlist-container {
  max-width: 1200px;
  margin: 24px auto;
  padding: 0 16px;
 
}

.itemlist-alert {
  background-color:  #7c3aedd0;
  border-radius: 10px;
  color:  white;
  margin: 15px;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.3px;
}

.error-container {
  margin-top: 16px;
  text-align: center;
  opacity: 0.8;
}

.error-icon {
    margin-top: 10px;
    font-size: 48px;
}

.error-code {
  margin-top: 10px;
  font-size: 15px;
}
