.itemlist-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 26px;
  border-radius: 10px;
}

.itemlist-container h2 {
  max-width: 1200px;
  margin: 2px auto;
  padding: 0 16px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.itemlist-card {
  background-color: var(--fondo-oscuro);
  border-radius: 12px;
  padding: 40px;
  margin: 2px 0;
  color: white;
  text-align: center;
}

.error-container {
  margin-top: 16px;
  text-align: center;
  opacity: 0.8;
}

.error-icon {
  margin-top: 10px;
  font-size: 48px;
}

.error-code {
  margin-top: 10px;
  font-size: 15px;
}



.itemlist-container.tendencia {
  background: linear-gradient(180deg, #190e23, #1b1026);
  padding: 50px 50px;
  transition: all 0.4s ease;
}

.itemlist-container.tendencia h2 {
  font-family: var(--fuente-swanky);
  color: var(--boton-terciario);
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 50px;
  position: relative;
}

.itemlist-container.tendencia h2::after {
  content: "";
  width: 90px;
  height: 3px;
  background: var(--color-acento);
  display: block;
  margin: 20px auto 0;
}


.itemlist-container.descuento {
  background: linear-gradient(180deg, #190e23, #1b1026);
  padding: 50px 50px;
  transition: all 0.4s ease;
}

.itemlist-container.descuento h2 {
  font-family: var(--fuente-swanky);
  color: var(--boton-terciario);
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 50px;
  position: relative;
}

.itemlist-container.descuento h2::after {
  content: "";
  width: 90px;
  height: 3px;
  background: var(--color-acento);
  display: block;
  margin: 20px auto 0;
}
