:root {
 
  --color-primario: #6b0c9e;   
  --color-secundario: #370055;
  --color-acento: #a855f7;    

 
  --fondo-app: #f7f3fb;        
  --fondo-card: #fde2fd;     
  --fondo-oscuro: #1b1026;    
  

  --borde-suave: #e2d8ee;
  --sombra-card: rgba(74, 0, 114, 0.15);


  --success: #6bcb77;
  --danger: #e63946;
  

  --boton-principal:  #6b1499;
  --boton-principalhover:  #670e97;
  --boton-secundario:  #4b0372;
  --boton-secundariohover:  #591280;
  --boton-terciario:  #a855f7;
  --boton-terciariohover:  #be79ff;
  --boton-cuatro:  #1b1026;
  --boton-cuatrohover:  #241336;
  --boton-claro:  #fde2fd;
  --boton-clarohover:  #f6bde7;
}