
.contact-section {
  color: var(--texto-invertido);
}

.contact-title {
  font-family: var(--fuente-swanky);
  font-weight: 700;
  font-size: 3rem;
}

.contact-text {
  font-family: var(--fuente-poiret);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.75);
}

.contact-divider {
  width: 100px;
  height: 4px;
  background: var(--color-acento);
  border-radius: 2px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list li {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 12px;
  font-family: var(--fuente-poiret);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.benefits-list .icon {
  width: 26px;
  min-width: 26px;
  font-size: 1.2rem;
  color: var(--color-acento);
  transition: 0.3s ease;
}

.benefits-list li:hover .icon {
  transform: scale(1.15);
}

.contact-link {
  font-family: var(--fuente-swanky);
  font-size: 1.5rem;
  color: var(--color-acento);
  text-decoration: none;
  font-weight: 700;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-card {
  font-family: var(--fuente-poiret);
  font-size: 1.3rem;
  background-color: var(--fondo-oscuro);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--borde-suave);
}

.contact-card form {
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
}

.contact-card .form-label {
  color: white;
  font-weight: 500;
}

.contact-card .form-control {
  font-family: Arial, Helvetica, sans-erif;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid var(--borde-suave);
  color: #242323 !important;

}

.contact-card .form-control:focus {
  border-color: var(--color-acento);
  box-shadow: 0 0 0 0.2rem rgba(168, 85, 247, 0.25);
}

.contact-btn  {
  background-color: var(--boton-principal) !important;
  color: white !important;
  border: none;
  font-size: 20px !important;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.contact-btn:hover {
  background-color: var(--boton-principalhover) !important;
  transform: translateY(-2px);
}

.contact-btn.loading {
  background-color: var(--boton-secundario) ;
  cursor: not-allowed;
  opacity: 0.9;
  transform: none;
}


.toast-alert {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-weight: 500;
  animation: fadeIn 0.4s ease;
}

.success-toast {
  background-color: var(--color-acento);
  color: white;
  border: 1px solid var(--color-acento);
}

.error-toast {
  background-color: #dc3545;
  color: white;
  border: 1px solid #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-card .form-control::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.663);
  opacity: 1; 
}

.contact-card .form-control {
  color: rgb(255, 255, 255);
  font-weight: 500;
}